.navbar-style{
   background-color: rgb(53, 109, 182); 
}

.nav-link.active{
   color: white;
   border-bottom: 2px solid white;
}

.header{
   background-color: #e6e6e6;
   position: sticky;
   top: 0;
   z-index: 10
}